<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body{
            margin:0;
        }

        td{
            padding: 10px;
        }

        .add{
            background-color: #555;
            color: white;
            border-radius: 10px;
        }

        tr{
         margin-bottom: 5px;
        }
    </style>
    <script type="module" src="/static/app.js" defer></script>
</head>
<body>
<!--    <div id="product-container"></div>-->
<h1>Product List</h1>
<table>
    <tr>
        <th>Sku</th>
        <th>Name</th>
        <th>Categories</th>
        <th>Price</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.getSku()}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getCategories()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td><a th:onclick="addToCart(event,[[${product.id}]])" href="#"> Add To Cart</a></td>
    </tr>
</table>

<script>
    function addToCart(event,id) {
        fetch(`http://localhost:8080/api/v1/cart/add/${id}`)
            .then((response) => response.json())
            .then(data => {
                let totalPrice = 0
                const res = data.map(item=>item.price*item.qty)
                console.log(res.reduce((a,b)=>a+b,0))
        })
    }
</script>
</body>
</html>

